<template>
  <div class="container">
    <div class="header">{{ application.name }}</div>
    <div class="wrapper">
      <div class="case" v-for="env in application.environments" :key="env">{{ env.name }} {{ env.version }}</div>
    </div>

    <div v-show="isEditMode">
      <button>Manage {{ application.name }}</button>
      <button>Manage version</button>
      <VersionForm/>
      <button @click="addEnvironment">Manage environment</button>
    </div>
    <div v-show="!isEditMode">
      <div class="header">Description {{application.name}}</div>
    </div>
  </div>
</template>

<script setup>
import {ref} from "vue";
import VersionForm from "@/components/forms/VersionForm";
// eslint-disable-next-line no-undef
const props = defineProps(['application', 'isEditMode'])
const application = ref(props.application)

function addEnvironment() {
  application.value.environments.push({name: 'kli', version: '12'})
}
</script>

<style scoped>

.container {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

.header {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  margin-bottom: 5px;
}

.case {
  border: 1px solid black;
  text-align: center;
}

button {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
</style>