<template>
  <div class="wrapper">
    <button @click="changeEditMode">{{ state.isEditMode ? 'Normal Mode' : 'Edit Mode' }}</button>
    <button @click="addItem">Add</button>
  </div>
  <ApplicationComponent v-for="item in applications"
                        :application="item"
                        :isEditMode=state.isEditMode
                        :key="item.id"
  />
</template>

<script setup>
import {reactive, ref} from "vue";
import ApplicationComponent from "@/components/ApplicationComponent";

const applications = ref([
  {id: 1, name: 'app1', environments: [{name: 'dev', version: '1.0'}, {name: 'int', version: '1.0'}]},
  {id: 2, name: 'app2', environments: [{name: 'dev', version: '1.0'}, {name: 'int', version: '1.0'}]}
])
const state = reactive({isEditMode: false})

function addItem() {
  applications.value.push({id: 3, name: 'app3', version: 'v2.0'});
}

function changeEditMode() {
  state.isEditMode = !state.isEditMode;
}
</script>

<style scoped>
.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0px;
  margin-bottom: 2px;
}
</style>