<template>
  <div class="content">
    <h3>Version</h3>
    <p>{{ version }}</p>
    <h3>Description</h3>
    <p>{{ description }}</p>
  </div>
</template>

<script>
export default {
  name: "VersionComponent",
  props: ['version', 'description']
}
</script>

<style scoped>
.content {
  text-align: center;
  word-wrap: break-word;
}
</style>