<template>
  <IndexComponent/>
</template>

<script>
import IndexComponent from "@/components/IndexComponent";

export default {
  name: 'App',
  components: {
    IndexComponent,
  }
}
</script>

<style>
</style>
