<template>
  <form>
    <div class="container-textarea">
      <label>Version</label>
      <input v-model="version" placeholder="Set version"/>
    </div>
    <div class="container-textarea">
      <label>Description</label>
      <textarea v-model="description" placeholder="Set description"/>
    </div>
  </form>
  <VersionComponent :version="version" :description="description"/>
</template>

<script setup>
import {ref} from "vue";
import VersionComponent from "@/components/VersionComponent";

const version = ref('')
const description = ref('')
</script>

<style scoped>

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-textarea{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
textarea {
  min-width:80%;
  max-height:100%;
  min-height:50px;
  resize: vertical;
}
</style>